@import "../partials/variables";
@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

.section-jobs {
  .jobs-list-nav {

  }

  .jobs-nav-item {
    display: block;
    background: $light-100;
    color: $light-400;
    border-width: 2px;
    border-color: $light-400;
    font-weight: 500;
    font-family: $font-primary;

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
      line-height: 1.5;
    }

    &:hover, &.active {
      box-shadow: 0 0 10px rgba(60, 89, 163, 0.13);
      background-color: $white;
      color: $green;
    }
  }

}