// Fonts
$font-primary:    'Mariupol';
$font-secondary:  'Montserrat', sans-serif;

// Colors
$dark:        #0E0D2D;
$dark-green:  #1D3A47;
$green:       #135E61;
$light-green: #07A446;
$light-blue:  #E0EBFA;
$orange:      #FFBA5F;
$red:         #FF5353;

$white:       #FFFFFF;
$light-100:   #F9F9F9;
$light-200:   #EEF1F4;
$light-300:   #E5E5E5;
$light-400:   #CFDAE9;
$light-500:   #ECECEC;
$light-600:   #B3B3B3;